/*
    COLORS

    Light Green : #7ed56f
    Medium Green : #55c57a
    Dark Green : #28b485

*/

//COLORS
$color-primary: #7ed56f;
$color-secondary: #55c57a;
$color-tertiary: #28b485;

$color-secondary-light:#ffb900;//ORANGE
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;//BLUE
$color-tertiary-dark: #5643fa;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;

$color-text-light: #eee; //LIGHT
$color-dark-grey: #777; //GREY
$color-dark-grey-2:#999;//USED IN FORM
$color-dark-grey-3: #333; //USED IN FORM


$color-white: #ffffff; //WHITE
$color-black: #000000; //BLACK

//WIDTH
$btn-width: 150px;


//GRID
$grid-width : 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal : 6rem; 

//FONTS
$default-font-size:1.6rem;
